:root{
    --body-bg: #f3f3f3;
    --text-clr: #0d1521;
    --dark-bg-clr: #0d1521;
    --primary-clr: #db003b;
    --white-clr: #fff;
    --orange-clr: #f90;
    --green-clr: #16b283;
}
body {
    background-color: var(--body-bg);
    color: var(--text-clr);
    font-family: 'Sofia Pro', sans-serif;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

/* Globals */
.text-primary {
    color: var(--primary-clr) !important;
}
.text-orange {
    color: var(--orange-clr);
}
.text-success {
    color: var(--green-clr) !important;
}
.btn {
    padding: 13px 27px;
    border-radius: 8px;
}
.btn-primary {
    background-color: var(--primary-clr);
    border: 0;
}
.btn-primary-light {
    background: rgba(219, 0, 59, 0.1);
    color: var(--primary-clr);
    border: 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    background-color: var(--primary-clr);
    box-shadow: none;
}
.btn-disabled, .btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active, .btn-disabled:visited {
    border-radius: 8px;
    background: rgba(13, 21, 33, 0.1);
    box-shadow: none;
    color: rgba(13, 21, 33, 0.24);
}
.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #16B283;
    color: var(--white-clr);
    border: 0;
}
.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background-color: #FF9900;
    color: var(--white-clr);
    border: 0;
}
.btn-primary-outline {
    border: 2px solid var(--primary-clr);
    border-radius: 8px !important;
    padding: 15px 18px;
    color: var(--primary-clr);
}
.btn-gray-outline {
    border: 2px solid #828D93;
    border-radius: 8px !important;
    padding: 15px 15px;
    color: #828D93;
}
h2 {
    font-size: 1.5rem;
}
span.title-leading {
    font-size: 0.875rem;
    font-weight: bold;
}
.card {
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.05);
}
.mt-10 {
    margin-top: 6rem!important;
}
.mt-15 {
    margin-top: 9rem!important;
}
.mb-10 {
    margin-bottom: 6rem!important;
}
.mb-15 {
    margin-bottom: 9rem!important;
}
.text-muted {
    color: var(--text-clr) !important;
    opacity: 0.6;
    font-weight: 300;
    font-size: 0.875rem;
}
label {
    font-weight: 500;
    font-size: 0.875rem;
}
.card .form-control {
    background-color: var(--body-bg);
}
/* Navbar */
header > nav {
    background: transparent;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.05));
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(7px);
    --webkit-backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.15);
    /* (plus shape's fill blended on top as a separate layer with 80% opacity) */
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-clr);
}
.navbar-light .navbar-nav.left-nav .nav-link.active, .navbar-light .navbar-nav.left-nav .nav-link:hover {
    color: var(--primary-clr);
}
.navbar-light .navbar-nav.left-nav .nav-link.active::after, .navbar-light .navbar-nav.left-nav .nav-link:hover::after {
    content: '';
    width: 24px;
    height: 4px;
    background-color: var(--primary-clr);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}
.punkty-link {
    line-height: 1rem;
}
.punkty-link span:first-child {
    font-size: 0.75rem;
}
.cart-counter {
    min-width: 21px;
    height: 21px;
    padding-top: 3px;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    color: var(--white-clr);
    position: absolute;
    bottom: 16px;
    right: 3px;
    border: 2px solid var(--white-clr);
}
.navbar-light .navbar-toggler {
    border: 0;
    padding: 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16'%3E%3Cg id='Group_38437' data-name='Group 38437' transform='translate(-25.995 -20.676)'%3E%3Cpath id='Path_40104' data-name='Path 40104' d='M-457.7,16.676h20' transform='translate(484.691 5)' fill='none' stroke='%230d1521' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='Path_40105' data-name='Path 40105' d='M-457.7,16.676h20' transform='translate(484.691 12)' fill='none' stroke='%230d1521' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='Path_40106' data-name='Path 40106' d='M-457.7,16.676h20' transform='translate(484.691 19)' fill='none' stroke='%230d1521' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.mobile-nav {
    display: none;
}
.mobile-nav-list {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.05));
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(7px);
    --webkit-backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.15);
    /* (plus shape's fill blended on top as a separate layer with 80% opacity) */
}
.mobile-nav-list ul li a {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: left;
    color: var(--text-clr);
}
.mobile-nav-list .navbar-nav .nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
}
.mobile-nav-list .navbar-nav .nav-link.active {
    color: var(--primary-clr);
}
.mobile-nav-list nav {
    background: transparent
}
/* Navbar ends */

/* Carousel */
.carousel-main .carousel-item > img{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.carousel-control-next, .carousel-control-prev {
    width: 8%;
}
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='22.999' viewBox='0 0 13 22.999'%3E%3Cpath id='Path_40132' data-name='Path 40132' d='M-2040.385,281.871a1.493,1.493,0,0,1-1.06-.439,1.5,1.5,0,0,1,0-2.121l8.939-8.94-8.939-8.939a1.5,1.5,0,0,1,0-2.121,1.5,1.5,0,0,1,2.121,0l10,10a1.5,1.5,0,0,1,0,2.121l-10,10A1.5,1.5,0,0,1-2040.385,281.871Z' transform='translate(2041.885 -258.872)' fill='%230d1521' opacity='0.8' style='isolation: isolate'/%3E%3C/svg%3E%0A");
    transform: scaleX(-1);
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='22.999' viewBox='0 0 13 22.999'%3E%3Cpath id='Path_40132' data-name='Path 40132' d='M-2040.385,281.871a1.493,1.493,0,0,1-1.06-.439,1.5,1.5,0,0,1,0-2.121l8.939-8.94-8.939-8.939a1.5,1.5,0,0,1,0-2.121,1.5,1.5,0,0,1,2.121,0l10,10a1.5,1.5,0,0,1,0,2.121l-10,10A1.5,1.5,0,0,1-2040.385,281.871Z' transform='translate(2041.885 -258.872)' fill='%230d1521' opacity='0.8' style='isolation: isolate'/%3E%3C/svg%3E%0A");
}
.carousel-md-img {
    display: block !important;
}
.carousel-m-img {
    display: none !important;
}
/* Types */

.type-title {
    font-weight: bold;
    font-size: 2.625rem;
}

.h-220 {
    min-height: 220px;
}

/* Recommend products */

.we-recommend .product-img-wrapper {
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.05);
}
.we-recommend.categoies-page {
    margin-bottom: 71px;
}
.we-recommend .product-title {
    font-weight: 300;
    font-size: 1.125rem;
    text-align: left;
    min-height: 50px;
}
.we-recommend .product-price {
    font-size: 1.25rem;
}
.we-recommend .square-pattern-left {
    top: 30px;
    left: -80px;
    z-index: -1;
}
.we-recommend .square-pattern-bottom-right {
    position: absolute;
    right: 0;
    bottom: -220px;
    z-index: -1;
}
/* Newsletter */

.newsletter-wrapper {
    background-image: url("../images/newsletter_bg.png");
    background-size: cover;
    min-height: 400px;
    border-radius: 8px;
}

/* footer */

footer {
    background-color: var(--dark-bg-clr);
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-nav li a {
    color: var(--white-clr);
    text-decoration: none;
    padding: 8px 0;
    font-weight: 300;
    display: block;
}

.separator {
    height: 1px;
    background: var(--white-clr);
    opacity: 0.19;
}

/* Patterns */

.homepage-bg {
    background-image: url("../images/homepage-bg.png");
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 20%;
    top: 0;
    bottom: 0;
}
.square-pattern-right {
    right: -60px;
    bottom: -60px;
    position: absolute;
}
.square-pattern-left {
    left: -60px;
    bottom: -60px;
    position: absolute;
}

.blog-md-img {
    display: block;
}
.blog-m-img {
    display: none;
}

/* Faq */
.faq {
    margin-bottom: 71px;
}
.faq .square-pattern-left {
    top: 30px;
    left: -80px;
    z-index: -1;
}
.faq .square-pattern-bottom-right {
    position: absolute;
    right: 0;
    bottom: -220px;
    z-index: -1;
}
.accordion-item {
    margin-bottom: 8px;
    border: 0;
    background: transparent;
    border-radius: 8px !important;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.05));
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(7px);
    --webkit-backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.70);
}
.faq .accordion-button {
    color: var(--text-clr);
    font-size: 1.125rem;
    font-weight: bold;
    background: transparent;
    border: 0;
    box-shadow: none;
}
.faq .accordion-body {
    border: 0;
    padding-top: 5px;
    padding-right: 180px;
}
.faq .accordion-button:not(.collapsed) {
    color: var(--text-clr);
    background: unset;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230d1521'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.returns-and-complaints .card{
    padding: 32px;
}
.returns-and-complaints .card p{
    margin-top: 40px;
    font-weight: 300;
    font-size: 1.125rem;
}
.returns-and-complaints .card p strong {
    font-weight: bold;
}

/* Account sidebar */
.account-sidebar .nav-wrapper ul {
    list-style: none;
}
.account-sidebar .nav-wrapper ul a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-clr);
    text-decoration: none;
    padding: 8px 0;
    padding-left: 16px;
    display: block;
    position: relative;
}
.account-sidebar .nav-wrapper ul a:hover, .account-sidebar .nav-wrapper ul a.active {
    color: var(--primary-clr);
}
.account-sidebar .nav-wrapper ul a:hover::before, .account-sidebar .nav-wrapper ul a.active::before {
    height: 24px;
    width: 4px;
    border-radius: 50px;
    background-color: var(--primary-clr);
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
}
.value-text {
    font-size: 1.125rem;
    color: var(--text-clr);
}

/* Purchase history */
td {
    vertical-align: middle;
    font-weight: 300;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
td.text-muted {
    font-size: 1rem;
}
td:first-child {
    padding-left: 0 !important;
}
td:last-child {
    text-align: right;
}
.page-item .page-link {
    margin-right: 8px !important;
    border-radius: 8px !important;
    padding: 8px 18px;
    color: var(--text-clr);
    background-color: var(--white-clr);
    border: 0;
}
.page-item:last-child .page-link {
    margin-right: 0 !important;
}
.page-item .page-link.next {
    background: transparent;
    border: 0;
}
.page-item.active .page-link {
    background-color: var(--primary-clr);
}

/* Social auth */
.social-auth a {
    border: 2px solid rgba(13, 21, 33, 0.15);
    padding: 10px 44px;
    border-radius: 8px;
    text-decoration: none;
}
.auth-action a {
    font-size: 0.875rem;
    color: var(--text-clr);
    text-decoration: none;
    font-weight: 300;
}
.fs-7 {
    font-size: 0.875rem;
}
.form-check-label {
    font-weight: 300 !important;
    font-size: 0.845rem;
    color: var(--text-clr);
}
.form-check a{
    font-weight: 300;
    font-size: 0.875rem;
    color: var(--text-clr);
    text-decoration: none;
}

.bg-gray {
    background-color: #828D93;
    padding: 14px;
    text-align: center;
    color: var(--white-clr);
    border-radius: 8px;
}

.bg-green {
    background-color: #16B283;
    padding: 14px;
    text-align: center;
    color: var(--white-clr);
    border-radius: 8px;
}

.cart-quantity-counter {
    border-radius: 8px;
    background: transparent;
    border: 2px solid #cfd8d9;
    height: 48px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 17px;
}
.cart-quantity-counter input {
    width: 20px;
    border: 0;
    text-align: center;
}
.cart-quantity-counter button {
    border: 0;
    background-color: transparent;
    color: #828D93;
    font-size: 1.5rem;
}
.cart-items-separator {
    border-bottom: 1px solid rgba(13, 21, 33, 0.1);
    margin: 24px 0;
}
.discount-apply input {
    width: 250px;
    height: 48px;
    background: #f3f3f3;
}

.toggle input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle label {
	cursor: pointer;
	text-indent: -9999px;
	width: 42px;
	height: 22px;
	background: #CFD8D9;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
.toggle input:checked + label {
	background: #16B283;
}
.toggle input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}
.toggle label:active:after {
	width: 130px;
}
.cart-table .text-muted {
    font-size: 0.875rem;
}
.cart-item.mobile {
    display: none !important;
}

/* Product */
.product-thumbnail-item {
    filter: drop-shadow(0px 3px 24px rgba(0, 0, 0, 0.05));
    background-color: var(--white-clr);
    border-radius: 8px;
    width: 180px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-thumbnail-item {
    margin-bottom: 24px;
}
.product-thumbnail-item:last-child {
    margin-bottom: 0;
}
.product-imgs-wrapper {
    display: flex;
    gap: 24px;
}
.main-product-img-wrapper {
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.05);
    background-color: var(--white-clr);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.product-details .product-price-wrapper .product-price{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary-clr);
    line-height: 1rem;
}
.product-details .product-price-wrapper .product-price-discount {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: .7rem;
    text-align: left;
    color: #828d93;
}
.feature-item {
    background-color: var(--white-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 282px;
    margin-bottom: 22px;
    gap: 52px;
    filter: drop-shadow(0px 3px 24px rgba(0, 0, 0, 0.05));
    border-radius: 8px;
    text-align: center;
}
.product-nutritions {
    border: 2px solid #cfd8d9;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.product-nutritions__item  {
    border-bottom: 1px solid #cfd8d9;
}
.product-nutritions__item:last-child {
    border-bottom: 1px solid transparent;
}
.daily-usage__item {
    width: 300px;
    height: 373px;
    border-radius: 0px;
    background: transparent;
    border: 2px solid #cfd8d9;
    border-right: 0;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.daily-usage__item:last-child {
    border-right: 2px solid #cfd8d9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.daily-usage__item:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.daily-usage__item .quantity {
    height: 128px;
    border-top: 2px solid #cfd8d9;
    width: 100%;
    opacity: 1;
    background-color: transparent;
}
/* Order form */
.progress-item {
    height: 8px;
    border-radius: 4px;
    background: #cfd8d9;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;
}
.progress-item + span {
    color: var(--text-clr);
}
.progress-item.active + span {
    color: var(--text-clr);
}
.progress-item.active {
    background-color: var(--primary-clr);
}
.progress-item + span {
    color: #828d93;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: 300;
}
.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #CFD8D9;
    margin-top: -5px;
}
.styled-checkbox:hover + label:before {
    background: var(--primary-clr);
}
.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
    background: var(--primary-clr);
}
.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
    margin-top: -5px;
}
.delivery-list__item, .delivery-list__item:hover {
    color: #828D93;
    background: transparent;
    border: 2px solid #828d93;
    border-radius: 8px;
    padding: 11px 18px;
    text-decoration: none;
    margin-bottom: 16px;
}
.delivery-list__item.active, .delivery-list__item.active:hover {
    color: var(--primary-clr);
    background: transparent;
    border: 2px solid var(--primary-clr);
}
.total-item span:first-child {
    min-width: 70px;
}
